<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testing-1.0.dtd" >

<suite name="InetBankingV1">

    <test name="Banking Test">
        <parameter name ="browser" value="chrome"/>
        <clasess>
            <class name ="com.inetBankingTestCases.BaseClass.java"/>

        </clasess>
    </test>
</suite>
